@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@tailwind base;
@tailwind components;

// Tailwind Link styles
.nav-link {
  @apply text-opacity-50 py-2 text-white transition-all hover:text-opacity-100 hover:font-bold hover:text-[18px];
}
.nav-link-icon {
  @apply text-opacity-50 text-white transition-all hover:text-opacity-100 hover:font-bold;
}

// Tailwind Container styles
.container {
  @apply max-w-[1366px] mx-auto px-5;
}

// Taildinw Button Styles
.btn.primary-btn {
  @apply hover:scale-[105%] transition-all shadow-lg bg-gradient-to-tr from-purple-500 to-blue-600 hover:from-blue-500 hover:to-red-500 px-[45px] py-[10px] rounded-full font-medium text-[18px]
}

.btn.primary-btn.btn-sm {
  @apply hover:scale-[105%] transition-all shadow-lg bg-gradient-to-tr from-purple-500 to-blue-600 hover:from-blue-500 hover:to-red-500 px-[30px] py-[10px] rounded-full font-medium text-[14px]
}

// Taildinw Gradient Text
.text-gradient-to-r {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-purple-500 to-blue-600
}

@tailwind utilities;

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'Poppins', sans-serif;
}

.bg-gradient-custom {
  background: linear-gradient(90deg, #151527, #161020)
}